@charset "utf-8";

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.hover-action {
  transition: all 0.3s ease;
}
/* header */
.inner {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: auto;
  width: 100%;
  z-index: 10;
}
.header-inner {
  padding: 15px 0;
}
.fa-bolt {
  color: #4e4e4e;
  display: inline-block;
  float: left;
  font-size: 40px;
}
.header-inner__item {
  background-color: #74cfae;
  color: white;
  display: inline-block;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
}
.header-inner__item:hover {
  color: #333;
}

/* header */

/* main */
  /* main-top */

.top-wrapper {
  background-color: #f2f2f2;
  width: 100%;
}
.top-wrapper-inner {
  padding: 250px 0;
  text-align: center;
}
.top-wrapper-inner__text {
  margin-top: 20px;
}
.top-wrapper-inner__text:first-child {
  margin-top: 0;
}
.top-wrapper-inner__text_large {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}
.top-wrapper-inner__text_small {
  color: #c0c0c0;
  font-size: 30px;
}
  /* main-top */

  /* main-can-do */

.can-do {
  background-color: #74cfae;
  width: 100%;
}
.can-do-inner {
  padding-top: 50px;
}
.can-do-inner__image {
  float: left;
  font-size: 0;
  text-align: center;
  width: 40%;
}
.can-do-inner__text-box {
  float: left;
  text-align: center;
  width: 60%;
}
.can-do-inner__text-box__text {
  color: white;
  font-size: 20px;
  margin-top: 35px;
  line-height: 24px;
}
.can-do-inner__text-box__text:first-child {
  font-size: 24px;
  margin-top: 20px;
} 
  /* main-can-do */

  /* main-work */
.work {
  background-color: #f2f2f2;
  width: 100%;
}
.work-inner {
  padding: 60px 0 70px 0;
  text-align: center;
}
.work-inner__title {
  color: #4e4e4e;
  font-size: 24px;
}
.work-inner__contents-box {
  padding: 40px 0 90px 0;
}
.work-inner__contents-box__content {
  float: left;
  font-size: 0;
  margin: 80px 0  0 100px;
  opacity: 0.7;
}
.work-inner__contents-box__content:hover {
  opacity: 1;
}
.work-inner__contents-box__content:first-child {
  margin-left: 0;
}
.work-inner__contents-box__content:nth-child(-n+3) {
  margin-top: 0;
}
.work-inner__contents-box__content:nth-child(4) {
  margin-left: 0;
}
.work-inner__form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.work-inner__form__text-box {
  box-sizing: border-box;
  padding: 0 90px 0 0;
  text-align: center;
  width: 60%;
}
.work-inner__form__text-box__text {
  color: #4e4e4e;
  font-size: 20px;
  line-height: 26px;
}
.work-inner__form__btn {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  padding: 14px 20px;
}
.work-inner__form__btn:hover {
  color: #333;
}

  /* main work */
  /* main-skill */

.skill {
  background-color: #4e4e4e;
  width: 100%;
} 
.skill-inner {
  padding: 70px 0 100px 0;
  text-align: center;
}
.skill-inner__title {
  color: white;
  font-size: 24px;
}
.skill-inner__contents-box {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.skill-inner__contents-box__content {
  font-size: 0;
  padding-left: 180px;
  text-align: center;
}
.skill-inner__contents-box__content:first-child {
  padding-left: 0;
}
.skill-inner__contents-box__content__text {
  color: white;
  font-size: 16px;
  padding: 20px;
}
  /* main-skill */
  /* main-sns */
.sns {
  background-color: #f2f2f2;
  width: 100%;
}
.sns-inner {
  padding: 200px 0 200px 0;
}
.sns-inner__contents-box {
  display: table;
  margin: 0 auto;
}
.sns-inner__contents-box__content {
  color: #74cfae;
  display: table-cell;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  width: 185px;
}
.sns-inner__contents-box__content:hover {
  background-color: white;
}
  /* main-sns */
/* main */
/* footer */
.footer {
  background-color: #74cfae;
  width: 100%;
}
.footer-inner {
  padding: 20px 0 25px 0;
}
.footer-inner__logo {
  color: white;
  float: right;
  font-size: 16px;
}
/* footer */